[Unit]
Description=pitinfo data to influx	
After=network-online.target

[Service]

User=root
Group=root

WorkingDirectory=/home/airvb/pitinfo
ExecStart=/usr/bin/python3 /home/airvb/pitinfo/pitinfo.py


# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=240
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target